In [ ]:
abc=1,000,000

In [ ]:
class Employee():
  pass
emp_1=Employee()
emp_2=Employee()
print(emp_1)
print(emp_2)

<__main__.Employee object at 0x7f2999a9c910>
<__main__.Employee object at 0x7f2999a9c950>

In [ ]:
class Employee():
  def __init__(self,fname,lname,pay):
    self.fname=fname
    self.lname=lname
    self.salary=pay
    self.email=self.fname'_'+self.lname+'@outlook.com'

emp_1=Employee('Ram','Ravi'.40000)
emp_2=Employee('sita','gita'.50000)
print(emp_1.email)
print(emp_2.email)

SyntaxError: ignored

In [ ]:
class Computer:
  def config(self):
    print("i5,16gb,1Tb")

com1=Computer()
Computer.config(com1)

i5,16gb,1Tb

In [ ]:
class Computer:
  def config(self):
    print("i5,16gb,1Tb")

com1=Computer()
com2=Computer()
Computer.config(com1)    
Computer.config(com2)

i5,16gb,1Tb
i5,16gb,1Tb

In [ ]:
class Employee():
  hike=1.02
  def __init__(self,fname,lname,pay):
    self.

In [ ]:
A0=dict(zip(('a','b','c','d','e'),(1,2,3,4,5)))
A0

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
A1=range(10)
A1

range(0, 10)

In [ ]:
A2=sorted([i for i in A1 if i in A0])
A0
1 in A0

False

In [ ]:
A3=sorted([A0[s] for s in A0])
A3

[1, 2, 3, 4, 5]

In [ ]:
A4=[i for i in A1 if i in A3]
A4

[1, 2, 3, 4, 5]

In [ ]:
A5={i:i*i for i in A1}
A5

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
for i in A1:
  print(f'{i}:{i*i}')

0:0
1:1
2:4
3:9
4:16
5:25
6:36
7:49
8:64
9:81

In [ ]:
A6=[[i,i*i] for i in A1]
A6

[[0, 0],
 [1, 1],
 [2, 4],
 [3, 9],
 [4, 16],
 [5, 25],
 [6, 36],
 [7, 49],
 [8, 64],
 [9, 81]]

In [ ]:
def printinfo(name,age):
  print(f'Name is {name},age is {age}')
printinfo(20,'sweety')

Name is 20,age is sweety

In [ ]:
printinfo(20,'sweety')

Name is 20,age is sweety

In [ ]:
def student_marks(student_name,*marks):
  for itr in marks:
    print(f'student {student_name} has obtained {itr} marks')
student_marks('A',10,20,30)

student A has obtained 10 marks
student A has obtained 20 marks
student A has obtained 30 marks

In [ ]:
def student_marks(name,**stud_marks):
  for k,v in stud_marks.items():
    print(f'Student {name} has obtained {v} marks in {k} subject')
student_marks('B',Phy=40,Chem=35,Math=95,Python=90)

Student B has obtained 40 marks in Phy subject
Student B has obtained 35 marks in Chem subject
Student B has obtained 95 marks in Math subject
Student B has obtained 90 marks in Python subject

In [ ]:
lambda r:pi*r**2(10)
a=lambda r:pi*r**2
a(10)

314.1592653589793

In [ ]:
sum_nums= lambda n1,n2:n1+n2
sum_nums(10,30)

40

In [ ]:
def scopes():
  a=10
  print(f'a is{a}')
a=20
print(a)

20

In [ ]:
scopes()

a is10

In [ ]:
def scopes1():
  print(a)
scopes1()

20

In [ ]:
def scopes1():
  global a
  a=30
scopes1() 
a

30

In [ ]:
tup1_nums=(10,20.30,40)
lst_nums=[]
def sqr_nums(tup_nums):
  lst_sqrs=[itr**2 for itr in tup_nums]
  print(lst_sqrs)

sqrs_nums(tup1_nums)

In [ ]:
def area_of_circle(r):
  return 3.142*r**2
from math import pi
pi

3.141592653589793

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(i, end=" ")
  print('\n')

1

2 2

3 3 3

4 4 4 4

In [ ]:
for itr in range(5):
  print(str(itr)*i)

0000
1111
2222
3333
4444

In [ ]:
for itr in range(5):
  print(str(itr)*itr)

1
22
333
4444

In [ ]:
for itr in range(5):
  print(str(itr)*itr,end=' ')

 1 22 333 4444

In [ ]:
from math import ceil,floor
def ceil(n):
  return n**2
ceil(16.789)

281.87052100000005

In [ ]:
from math import ceil,floor
ceil(16.789)

17

In [ ]:
import os 
os.getcwd()

'/content'

In [ ]:
student_marks('B',20,30,40,50)

student B has obtained 20 marks
student B has obtained 30 marks
student B has obtained 40 marks
student B has obtained 50 marks

In [ ]:
tup_names=('A','B','C')
tup_age=(10,20,30)
zip_name_age=zip(tup_names,tup_age)
zip_name_age

In [ ]:
dict_name_age=dict(zip_name_age)
dict_name_age

{'A': 10, 'B': 20, 'C': 30}

In [ ]:
list_name_age=list(zip_name_age)
list_name_age

[]

In [ ]:
zip_name_age=zip(tup_names,tup_age)
for k,v in zip_name_age:
  print(f'Key is{k},Value is {v}')

Key isA,Value is 10
Key isB,Value is 20
Key isC,Value is 30

In [ ]:
d={'name':'Meghana','age':22,'place':'Hyderabad'}
d

{'name': 'Meghana', 'age': 22, 'place': 'Hyderabad'}

In [ ]:
d['age']

22

In [ ]:
age=30
if age >0 and age <=13:
  print('Ola, You are a Child')
elif age >13 and age <18:
  print('Namaste,You are a Teenager')
else:
  print('Hello,You are an Adult')

Hello,You are an Adult

In [ ]:
itr=0
while True:
  print(f'value of iterator is {itr},squared value is {itr**2}')
  itr+=1
  if itr==10:
    break
  elif itr==3:
    continue
  print('Hi,no break till now')

value of iterator is 0,squared value is 0
Hi,no break till now
value of iterator is 1,squared value is 1
Hi,no break till now
value of iterator is 2,squared value is 4
value of iterator is 3,squared value is 9
Hi,no break till now
value of iterator is 4,squared value is 16
Hi,no break till now
value of iterator is 5,squared value is 25
Hi,no break till now
value of iterator is 6,squared value is 36
Hi,no break till now
value of iterator is 7,squared value is 49
Hi,no break till now
value of iterator is 8,squared value is 64
Hi,no break till now
value of iterator is 9,squared value is 81

In [ ]:
d['name']=['Meghana Reddy']
d

{'name': ['Meghana Reddy'], 'age': 22, 'place': 'Hyderabad'}

In [ ]:
def area_of_circle(r):
  return 3.142*r**2
area_of_circle(100)

31420.0

In [ ]:
d={'name':'Meghana','age':22,'place':'Hyderabad'}
d

In [ ]:
for itr in range(20):
  area_of_circle(itr)

In [ ]:
d['Topic_btech']=['Engineering Graphics','Embedded System']
d

{'name': ['Meghana Reddy'],
 'age': 22,
 'place': 'Hyderabad',
 'Topic_btech': ['Engineering Graphics', 'Embedded System']}

In [ ]:
d['btech_CGPA']=['overall:7.0']
d

{'name': ['Meghana Reddy'],
 'age': 22,
 'place': 'Hyderabad',
 'Topic_btech': ['Engineering Graphics', 'Embedded System'],
 'btech_CGPA': ['overall:7.0']}

In [ ]:
d.pop('Topic_btech')

['Engineering Graphics', 'Embedded System']

In [ ]:
d

{'name': ['Meghana Reddy'],
 'age': 22,
 'place': 'Hyderabad',
 'btech_CGPA': ['overall:7.0']}

In [ ]:
del(d['age'])
d

{'name': ['Meghana Reddy'],
 'place': 'Hyderabad',
 'btech_CGPA': ['overall:7.0']}

In [ ]:
telnumbers={'mobile_home':99485,'mobile_clg':63034}
d['telnumbers']={'mobile_home':99485,'mobile_clg':63034}
d['adhar_num']=12345
d['pan_num']=67891
d

{'name': ['Meghana Reddy'],
 'place': 'Hyderabad',
 'btech_CGPA': ['overall:7.0'],
 'telnumbers': {'mobile_home': 99485, 'mobile_clg': 63034},
 'adhar_num': 12345,
 'pan_num': 67891}

In [ ]:
d.keys()

dict_keys(['name', 'place', 'btech_CGPA', 'telnumbers', 'adhar_num', 'pan_num'])

In [ ]:
d.values()

dict_values([['Meghana Reddy'], 'Hyderabad', ['overall:7.0'], {'mobile_home': 99485, 'mobile_clg': 63034}, 12345, 67891])

In [ ]:
d.items()

dict_items([('name', ['Meghana Reddy']), ('place', 'Hyderabad'), ('btech_CGPA', ['overall:7.0']), ('telnumbers', {'mobile_home': 99485, 'mobile_clg': 63034}), ('adhar_num', 12345), ('pan_num', 67891)])

In [ ]:
for k,v in d.items():
    print(f'Key is{k},Value is{v}')

Key isname,Value is['Meghana Reddy']
Key isplace,Value isHyderabad
Key isbtech_CGPA,Value is['overall:7.0']
Key istelnumbers,Value is{'mobile_home': 99485, 'mobile_clg': 63034}
Key isadhar_num,Value is12345
Key ispan_num,Value is67891

In [ ]:
list(d)

['name', 'place', 'btech_CGPA', 'telnumbers', 'adhar_num', 'pan_num']

In [ ]:
tuple(d)

('name', 'place', 'btech_CGPA', 'telnumbers', 'adhar_num', 'pan_num')

In [ ]:
tuple(d.items())

(('name', ['Meghana Reddy']),
 ('place', 'Hyderabad'),
 ('btech_CGPA', ['overall:7.0']),
 ('telnumbers', {'mobile_home': 99485, 'mobile_clg': 63034}),
 ('adhar_num', 12345),
 ('pan_num', 67891))

In [ ]:
lst_a=[5,20.5,18]
lst_a.extend([10,40])
lst_a

[5, 20.5, 18, 10, 40]

In [ ]:
lst_a.append([2,3])
lst_a

[5, 20.5, 18, 10, 40, [2, 3]]

In [ ]:
lst_a.extend(["Meghana"])
lst_a

[5, 20.5, 18, 10, 40, [2, 3], 'Meghana']

In [ ]:
7+10-3

14

In [ ]:
for itr in[1,2,3]:
    print(f'Sqr is{itr**2}')

Sqr is1
Sqr is4
Sqr is9

In [ ]:
for itr in[1,2,3]:
    print(f'sqr is{itr**2}')

sqr is1
sqr is4
sqr is9

In [ ]:
lst_nums=[20,35,56,49]
for itr in lst_nums:
                  if (itr%2==0):
                      print(f'sqr is {itr**2}')
                  else:
                      pass

sqr is 400
sqr is 3136

In [ ]:
while itr<10:
    print(f'Hello{itr}')
    itr+=1

In [ ]:
while 0:
    print('Hello True')

In [ ]:
range(0,6)
for itr in range(4):
    print ('RAMESH'[itr])

R
A
M
E

In [ ]:
range(0,6)
for itr in range(6):
    print ('RAMESH'[itr])

R
A
M
E
S
H

In [ ]:
7-10+2

-1

In [ ]:
Var1="Hello World"
Var2="Python Programming"
Var3=(1,2,3)
type(Var3)

tuple

In [ ]:
a='Rameshameshbamesh'
a.replace('me','ME')

'RaMEshaMEshbaMEsh'

In [ ]:
a='Rameshameshbamesh'
a.find('am',3)

6

In [ ]:
a,b,c=1000,2000,3000

In [ ]:
a_b_c=1,000,000

In [ ]:
import math
int(math.sqrt(16))
float(10)

In [ ]:
a=1
a=a+1
a+=1